:root{
    --border: 1px solid rgba(128, 128, 128, 0.486) ;
    --primary-color: #1A294A ;
    --text-color: rgba(82, 82, 82,);
}


            /* Main Style */
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: whitesmoke;
} 

.navbar-nav{
    margin: auto;
    width: 90vw;
}
.collapse .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.collapse .navbar-brand img{
    width: 11vw;
}

.collapse .navbar-nav .nav-link{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3rem;
    border: 1px solid rgba(43, 43, 43, 0.651);
    padding: .5rem 1rem;
    border-radius: 2rem;
    transition: all .3s ease-in-out;
}
.collapse .navbar-nav .nav-link:hover{
    color: whitesmoke;
    background-color:rgba(43, 43, 43, 0.651) ;
    border: 1.5px solid transparent;
}

        /* page title */
.page-title{
    display: flex;
    padding: 4rem 3rem ;
    width: 100vw;
    height: 50vh;
    background-color: #1A294A;
    align-items: center;
    margin-bottom: 2rem ;
}

.page-title h1{
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    text-transform: capitalize;
}

        /* Section */
.about-section{
    padding: 3.5rem 7rem ;
    width: 100vw;
    margin: auto;
}

.about-section .heading{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 4rem;
}

.about-section p , .about-section ul li{
    font-size: 1.3rem ;
    color: var(--text-color);
    font-weight: 500;
}

.vision-section {
    text-align: center;
}

.vision-section img{
    width: 50vw;
    border-radius: 2rem ;
    margin: 2rem auto;
    box-shadow: 7px 7px 12px rgb(41, 41, 41, .6);
}

.why-us-section .row{
    margin: 2rem auto;
}

.why-us-section img{
    height: 100%;
    width: 100%;
    box-shadow: 7px 7px 12px rgb(41, 41, 41, .6);
    margin: auto;
}

@media screen and (max-width: 993px){

    
    .page-title{
        height: auto;
        font-size: 2em;
    }
    .about-section{
        padding: 1em 3em;
    }

    .about-section .heading{
        font-size: 3em;
        margin: 0em auto;
    }

    .vision-section img{
        width: 60vw;
        margin: 1em auto;
    }

    .why-us-section .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .why-us-section .row img{
        width: 60vw ;
        height: auto;
        margin-left: 5em;
    }
    .why-us-section .row .img{
        margin: 1em auto;
    }

    
}