:root{
    --border: 1px solid rgba(128, 128, 128, 0.486) ;
    --primary-color: #1A294A ;
    --text-color: rgba(82, 82, 82,);
}


            /* Main Style */
*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: whitesmoke;
} 

.navbar-nav{
    margin: auto;
    width: 90vw;
}
.collapse .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.collapse .navbar-brand img{
    width: 11vw;
}

.collapse .navbar-nav .nav-link{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3rem;
    border: 1px solid rgba(43, 43, 43, 0.651);
    padding: .5rem 1rem;
    border-radius: 2rem;
    transition: all .3s ease-in-out;
}
.collapse .navbar-nav .nav-link:hover{
    color: whitesmoke;
    background-color:rgba(43, 43, 43, 0.651) ;
    border: 1.5px solid transparent;
}

        /* page title */
.page-title{
    display: flex;
    padding: 4rem 3rem ;
    width: 100vw;
    height: auto;
    background-color: #1A294A;
    align-items: center;
    margin-bottom: 2rem ;
}

.page-title h1{
    color: white;
    font-weight: bold;
    font-size: 3.5rem;
    text-transform: capitalize;
}

        /* FAQ'S */

.container {
    width: 90vw;
    margin: 2em auto;
}


.container .accordion {
    background-color: inherit;
    color: #1A294A;
    cursor: pointer;
    padding: .5em .8em;
    width: 100%;
    height: 3em;
    text-align: left;
    border: 1px solid black;
    transition: 0.4s;
    position: relative;
  }

  .container .accordion p{
    display: inline-block;
    text-align: left;
    margin-left: 1.5em;
    font-weight: bold;
    font-size: 1.2em;
  }

  .panel {
    padding: .3em .5em ;
    color: #1A294A;
    border: 1px solid black;
    margin-top: .5em ;
    overflow: hidden; 
    transition: all .6s ease;
    display: none;
  }

  .accordion .bar1 {
  content: ""; /* Unicode character for "plus" sign (+) */
  height: 1.25em;
  width: .3em;
  display: inline-block;
  background-color: #1A294A;
  float: left;
  margin: .9em 1em .3em .25em;
  border-radius: .2em;
  transition: all .6s ease;
  position: absolute;
  top: 0;
  left: 1%;
}

.accordion .bar2 {
  content: ""; /* Unicode character for "minus" sign (-) */
  height: 1.25em;
  width: .3em;
  display: inline-block;
  background-color: #1A294A;
  float: left;
  margin: .9em 1em .3em .2em;
  border-radius: .2em;
  transition: all .6s ease;
  transform: rotate(90deg) translateY(-12px);
  position: absolute;
  top: 0;
  left: 0%;
}

.change .bar1{
    transform: rotate(90deg) ;
    opacity: 0.3;
 }



@media screen and (max-width: 993px){
    .page-title{
        height: auto;
        font-size: 2em;
    }

}