            /* Variables */
:root{
    --border: 1px solid rgba(128, 128, 128, 0.486) ;
}



            /* Main Style */
*{
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
} 

.navbar-nav{
    margin: auto;
    width: 90vw;
}
.collapse .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.collapse .navbar-brand img{
    width: 11vw;
    margin-right: 6rem ;
}

.collapse .navbar-nav .nav-link{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.3rem;
    border: 1px solid rgba(43, 43, 43, 0.651);
    padding: .5rem 1rem;
    border-radius: 2rem;
    transition: all .3s ease-in-out;
}

.collapse .navbar-nav .drompdown-menu{
    background-color: #1A294A;
}

.collapse .navbar-nav .dropdown-item{
    text-transform: capitalize;
    font-weight: 600;
    transition: all .3s ease-in-out;
}
.collapse .navbar-nav .nav-link:hover{
    color: whitesmoke;
    background-color:rgba(43, 43, 43, 0.651) ;
    border: 1.5px solid transparent;
}

.collapse .navbar-nav li .home{
    display: none;
}

.collapse .navbar-nav li .faq{
    margin-left: -2.6rem;
}

.nav-icon{
    border: none;
}


         /* Image slider */

.carousel .carousel-inner{
    margin: auto;
    margin-top: 1rem ;
    width: 80vw;
    border-radius: 2rem;
    box-shadow: 5px 3px 10px rgba(43, 43, 43, 0.651);
}

            /* Heading */

.section{
    width: 75vw;
    height: 10vw;
    margin: 5rem auto ;
    display: flex;
    align-items: center;
    
}
.heading{
    text-align: center;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 20vh;
    align-items: center;
    position: relative;
}
.heading .background {
    font-size: 4.2em;
    height: 100%;
    left: 0;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5rem;
    display: block;
}
.heading span{
    display: block;
    z-index: 2;
    position: relative;

}

.nav-toggle{
    display: none;
}


            /* why us section*/   

.row{
    width: 90vw;
    margin: 3rem auto 5rem;
}

.row .img-box .img{
    overflow: hidden;
    width: fit-content;
    padding: 0;
    border-radius: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.25);
    width: 90%;
}

.row .img-box img{
    width: 100%;
    transition: all .1s ease-in;
}

.row .main-box-left{
    width: 35vw;
    padding: 1rem .5rem 1rem 1rem ;
    border: 1px solid rgba(128, 128, 128, 0.25);
    margin-bottom:1rem  ;
    background-color: whitesmoke;
    border-radius: .5rem;
    position: relative;
    left: 0%;
}

.row .main-box-left .img-box .lamp{
    border-radius: 1rem;
    height: 2.2rem;
    width: .25rem;
    background-color: rgba(184, 184, 184, 0.5);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.678);
    border: 1px solid transparent;
    padding: .5rem;
    position: absolute;
    left: 3%;
    top: 8%;
    transition: all 3s ease-in;
}  

.row .main-box-left .img{
    right: -8%;
    position: relative;
}
.row .main-box-right{
    width: 35vw;
    padding: 1rem .5rem 1rem 1rem ;
    border: 1px solid rgba(128, 128, 128, 0.25);
    margin-bottom:1rem  ;
    background-color: whitesmoke;
    border-radius: .5rem;
    position: relative;
    right: -10%;
}

.row .main-box-right .img-box .lamp{
    border-radius: 1rem;
    height: 2.2rem;
    width: .25rem;
    background-color: rgba(184, 184, 184, 0.5);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.678);
    border: 1px solid transparent;
    padding: .5rem;
    position: absolute;
    right: 3%;
    top: 8%;
    transition: all 3s ease-in;
}


.main-box-right:hover .img-box .lamp,
.main-box-left:hover .img-box .lamp{
  background: radial-gradient( white 1%, rgb(1, 94, 1) );
}

.main-box-right:hover .img-box img,
.main-box-left:hover .img-box img{
    scale: 1.3;
}

.main-box-left .text-box-left ,
 .main-box-right .text-box-right{
    width: 60%;
    height:55%;
    position: absolute;
    padding: 1rem  2rem;
    border: 1px solid rgba(128, 128, 128, 0.25);
    top: 23%;
    z-index: 3;
    background-color: white;
    border-radius: .5rem ;
    overflow: hidden;
}

.main-box-left .text-box-left{
    right: -15%;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.486);
}

.main-box-right .text-box-right{
    left: -15%;
    box-shadow: -2px 2px 5px rgba(128, 128, 128, 0.486);
}


.main-box-left .text-box-left .logo  ,
 .main-box-right .text-box-right .logo  {
    font-size: 2rem;
    margin: 0 auto .7rem ;
    width: fit-content;
    color: rgb(67 , 94 , 161) ;
    
 }

 .main-box-left .text-box-left .text  ,
 .main-box-right .text-box-right .text{
    font-family: sans-serif;
    text-align: center;
    line-height: 1.5rem;
 } 

.time-saving{
    padding: 2rem 4rem ;
    background-color: #1A294A;
    margin: 0;
    overflow-x: hidden ;
}

.time-saving .section{
    margin: 1rem auto;
}

.time-saving .section .background{
    color: rgb(224, 224, 224);
}

.time-saving .box {
    padding: 15px;
    border: 1px solid whitesmoke;
    border-radius: .5rem ;
    width: max-content;
    margin:  auto;
    position: relative;
}

.time-saving .box::after{
    content: '';
    position: absolute;
    top: 68px;
    left: -91px;
    width: 90px ;
    height: 24px ;
    padding: .5rem;
    z-index: 2;
    background-color: gray;
    border-radius: 2rem 0 0 2rem;
}
.time-saving .box::before{
    content: '';
    position: absolute;
    top: 68px;
    right: -91px;
    width: 90px ;
    height: 24px ;
    padding: .5rem;
    z-index: 2;
    background-color: gray;
    border-radius: 0 2rem 2rem 0;
}
.time-saving .icon::before{
    right: -91px;
}
.time-saving .icon::after{
    left: -91px;
}

.time-saving .box .text{
    padding: 1.5rem 5rem .7rem;
    background-color: whitesmoke;
    text-align: center;
    color: #1A294A;
    text-transform: capitalize;
    border-radius: 1rem ;
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}



.time-saving .box .text i{
    font-weight: bold;
    font-size: 1.5rem;
}

.time-saving .box .text p:nth-child(2){
    font-weight: bold;
}

.time-saving .box .text span{
    border-radius: 1rem;
    height: 2.5rem;
    width: .1rem;
    background: linear-gradient(yellow , rgba(128, 128, 128, 0.637) 110%);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.678);
    border: 1px solid transparent;
    padding: .5rem .4rem;
    position: absolute;
    right: 5%;
    top: 33%;
    transition: all 3s ease-in;
}

.time-saving .box .text .red{
    background: linear-gradient(red , orange 110%);

}


.time-saving .list-box{
    color: whitesmoke;
}

.time-saving .list-box h4{
    text-transform: uppercase;
    margin-left: 2em ;
    margin-bottom: 1.5rem;
}

.time-saving .list-box ul li p{
    font-size: 1.3rem ;
    font-weight: 550;
}

.function-section{
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin: auto;
}

.function-section .function-box{
    padding: .3rem .7rem 1.2rem;
    border: var(--border) ;
    text-align: center;
    width: 20vw;
    margin: auto;
    border-radius: 1rem ;
}

.function-section .function-box:hover h6{
    color: orange;
}

.function-section .function-box .logo{
    color: #1A294A;
    margin: .7rem auto;
}

.function-section .function-box p{
    font-size: small;
}

.sale-box{
    margin: 5rem  auto ;
    width: 53vw;
    border: var(--border);
    height: 60vh;
    padding: 1.3rem;
    background-color: whitesmoke;
    border-radius: 2.3rem ;
    box-shadow: inset 4px 4px 8px rgba(128, 128, 128, 0.541),
                inset -4px -4px 8px rgba(128, 128, 128, 0.541) ;

    position: relative;   
}  

.sale-box img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.sale-box span{
    width: 2rem ;
    height: 2rem;
    background-color: #1A294A;
    border-radius: 50%;
    position: absolute;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 1px;
    cursor: default;
}

.sale-box span:nth-child(1){
    top: -5%;
    left: 1%;
}
.sale-box span:nth-child(2){
    top: -5%;
    left: 32%;
}
.sale-box span:nth-child(3){
    top: -5%;
    right: 32%;
}
.sale-box span:nth-child(4){
    top: -5%;
    right: 1%;
}
.sale-box span:nth-child(5){
    bottom: -5%;
    left: 1%;
}
.sale-box span:nth-child(6){
    bottom: -5%;
    right: 1%;
}
.sale-box span:nth-child(7){
    bottom: -5%;
    left: 46%;
}

.function-text{
    margin: auto;
    padding: 1rem rem ;
    width: 70vw;
    color: rgb(63, 63, 63);
    font-size: 1.3rem;
    text-align: center;
}

footer{
    width: 100vw;
    background-color: #1A294A;
    color: white;
    padding: 1em 4em ;
    margin-bottom: 0;
    height: 40vh;
}

footer .footer-item{
    margin: 1em auto;
}

footer .footer-item img{
    width: 50%;
    margin: -2em auto 0;
    background-color: white;
    border-radius: 1.3em;
    box-shadow: inset 10px 10px 15px rgba(128, 128, 128, 0.568),
                inset -10px -10px 15px rgba(128, 128, 128, 0.568);
    cursor: pointer;
}

footer .footer-item .item{
    margin: 0em auto .5em;
    font-size: 1.2em;
}
footer .footer-item .item i{
    margin-right:.2em ;
}

footer .row .footer-item:nth-child(3){
    margin-top: 2em;
}


@media screen and (max-width: 1000px){
   
    .nav-toggle{
        width: 100vw;
        height: 13vh;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .nav-toggle div{
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .nav-toggle img{
        margin: 0;
        width: 100px;
        position: absolute;
        right: -2%;
    }

    .nav-toggle button{
        border: none;
        padding: .1em  .3em;
        color: white;

    }
    .collapse .nav-item .nav-link{
        border: none;
        margin: .3rem auto ;
        font-size: 1.2em ;
    }

    .collapse .nav-item:nth-child(3) .nav-link{
        margin-bottom: -.75em;
    }
    .collapse .navbar-brand img  , .collapse .nav-item .none{
        display: none;
        
    }

    nav li .home{
        display: block;
    }

    .collapse .navbar-nav li .faq{
        margin-left: 0;
    }

    .carousel .carousel-inner{
        width: 100vw;
        border-radius: 0;
    }
    .section{
        width: 100vw;
    }
    .section .heading{
        width: 90vw;
    }
    .section .heading .background{
        font-size: 3em;
        margin: auto;
    }

    .row .main-box-left , .row .main-box-right{
        margin: 1rem auto;
        width: 50vw;
    }

    .row .text-box-left , .row .text-box-right{
        padding: 1rem;
    }
    .row .text-box-left .logo, .row .text-box-right .logo{
        font-size: 1.5em;
        margin: .15em auto;
    }
    .main-box-left .text-box-left .text  ,
    .main-box-right .text-box-right .text{
        overflow: hidden;
    }
    .main-box-left .text-box-left .text  ,
    .main-box-right .text-box-right .text{
        line-height: 1rem;
        font-size: .9em;
    }

     .time-saving{
        width: 100vw;

     }
     .time-saving .row{
        width: 100vw;
        margin: 1rem auto;
        padding: 0;
     }

     .time-saving .row .box{
        margin-left: 6rem;
     }
     .time-saving .icon{
        margin-bottom: 2rem;
     }

     .time-saving .list-box{
        width: 70%;
        padding: .2rem .5rem ;
     }

    .function-section{
        flex-direction: column;

    }
    
    .function-section .function-box{
        padding: .2rem ;
        width: 40vw;
        margin-bottom: 3rem;
    }

    .sale-box{
        width: 57vw;
        height: 40vh;
    }

    footer .footer-item img{
        width: 8em;
    }

    
    
}

@media screen and (max-width: 770px){

    .row .main-box-left .text-box-left,
    .row .main-box-right .text-box-right{
        height: max-content;
        padding: .35rem ;
        font-size: .85em;
    }
    .time-saving .section .background{
        margin-right:5.5rem ;
        margin-bottom: 4rem;
    }
    .time-saving .box {
        padding: 10px;
        margin-top: 3rem;
    }
    
    .time-saving .box::after{
        top: 50px;
        left: -73px;
        width: 72px ;
        height: 18px ;
        padding: .5rem;
    }
    .time-saving .box::before{
        top: 50px;
        right: -73px;
        width: 72px ;
        height: 18px ;
        padding: .5rem;
    }
    .time-saving .icon::before{
        right: -73px;
    }
    .time-saving .icon::after{
        left: -73px;
    }

    .time-saving .box .text{
        padding: .8em 2.7em .3em;
        font-size: 1.1em ;
    }
    
    
    
    .time-saving .box .text i{
        font-weight: bold;
        font-size: 1em;
    }

    .time-saving .box .text span{
        border-radius: 1em;
        height: 2.2em;
        width: .1em;
        padding: .55em .4em;
        right: 5%;
        top: 30%;
    }

    .time-saving .box .text i{
        font-weight: bold;
        font-size: 1.3em;
    }


    .time-saving .section .background{
        width: 100%;
        font-size: 2.5em;
        margin-left: -3.5rem;
        text-align: center;
    }

    footer {
        padding: .2em 2em ;
        height: auto;
        display: flex;
        justify-content: space-around;

    }
    footer .footer-item{
        margin:  0 auto 0 -4em;
        padding: 1em 3em;
        text-align: left;
    }
    footer .footer-item img{
        width: 9.5em;
    }

    .page-title{
        height: auto;
        font-size: 2em;
    }
}


@media screen and (max-width: 500px){
    .nav-toggle img{
        right: -5%;
    }
    .section{
        width: 100vw;
        margin: 2em auto -1.3em ;
    }
    .section .heading{
        width: 100vw;
    }
    .section .heading .background{
        font-size: 1.6em;
        margin: 0 auto;
    }


    .row .main-box-left , .row .main-box-right{
        margin: 1em auto;
        width: 60vw;
    }

    .row .main-box-left .text-box-left ,
    .row .main-box-right .text-box-right{
        width: 10em;
        height: 7.3em;
    }

    .main-box-left .text-box-left{
        right: -20%;
    }
    
    .main-box-right .text-box-right{
        left: -20%;
    }

    .time-saving{
        padding: 1em 2em;
    }

    .time-saving .row .box{
        margin-left: 2.3em;
        padding: calc(15px/1.5);
    }

    
    .time-saving .section{
        margin-left: -3em;
    }
    
    .time-saving .box::after{
        top: calc(68px/1.55);
        left: calc(-91px/1.53);
        width: calc(90px/1.55) ;
        height: calc(24px/1.55) ;
    }
    .time-saving .box::before{
        top: calc(68px/1.55);
        right: calc(-91px/1.5);
        width: calc(90px/1.55) ;
        height: calc(24px/1.55) ;
    }
    .time-saving .icon::before{
        right: calc(-91px/1.5);
    }
    .time-saving .icon::after{
        left: calc(-91px/1.52);
    }

    .time-saving .box .text{
        padding: .9rem 2.7rem .5rem;
        font-size: 1em;
    }

    .function-section{
        width: 100vw;
        margin-top: 3em;
    }

    .function-section .function-box{
        width: 50vw;
        
    }

    .sale-box{
        width: 85vw;
        height: 30vh;
    }
    .sale-box span{
        width: 1.3em ;
        height: 1.3em;
    }

    .page-title{
        font-size: 1.5em;
        padding: 1.5em .5em ;
    }

}
@media screen and (max-width: 300px){
    .page-title{
        font-size: 1em;
        padding: 1.5em .5em ;
    }
}
