




@media screen and (max-width: 993px){
    .page-title{
        height: auto;
        font-size: 2em;
    }

}

@media screen and (max-width: 500px){
    .page-title{
        font-size: 1.5em;
        padding: 1.5em .5em ;
    }
}